<div class="card mt-1" [formGroup]="searchForm">
  <div class="card-body">
    <div class="row" formGroupName="search">
      <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
        <div class="form-group">
          <label for="ibuMin">IBU Min</label>
          <input type="number" formControlName="ibuMin" class="form-control" id="ibuMin" aria-describedby="IBU Min">
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
        <div class="form-group">
          <label for="ibuMax">IBU Max</label>
          <input type="number" formControlName="ibuMax" class="form-control" id="ibuMax" aria-describedby="IBU Max">
        </div>
      </div>

      <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
        <div class="form-group">
          <label for="abvMin">ABV Min</label>
          <input type="number" formControlName="abvMin" class="form-control" id="abvMin" aria-describedby="ABV Min">
        </div>
      </div>


      <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
        <div class="form-group">
          <label for="ibuMax">ABV Max</label>
          <input type="number" formControlName="abvMax" class="form-control" id="abvMax" aria-describedby="ABV Max">
        </div>
      </div>

      <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
        <div class="form-group">
          <label for="ebcMin">EBC Min</label>
          <input type="number" formControlName="ebcMin" class="form-control" id="ebcMin" aria-describedby="EBC Min">
        </div>
      </div>

      <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
        <div class="form-group">
          <label for="ebcMax">EBC Max</label>
          <input type="number" formControlName="ebcMax" class="form-control" id="ebcMax" aria-describedby="EBC Max">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-right">
        <button mat-raised-button (click)="search()">Search</button>
      </div>
    </div>
  </div>
</div>

<common-library-scroll-surface (onScrollEnd)="onScrollEnd()" [ignore]="isSearching">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mt-4" *ngFor="let item of beerCollection"
      [@staggeredFadeAnimation]="beerCollection.length">
      <beer-store-beer-card #beerCard [beer]="item" (onFavoriteChanged)="onFavoriteChanged(item)"
      (onSimilarBeerSelected)="onSimilarBeerSelected($event)"></beer-store-beer-card>
    </div>
    <div class="col-sm-12 mt-3" *ngIf="!beerCollection || beerCollection.length===0">
      <div class="alert alert-warning text-center">
        No items to display.
      </div>
    </div>
  </div>
</common-library-scroll-surface>

<mat-progress-bar mode="indeterminate" *ngIf="isSearching"></mat-progress-bar>